@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  letter-spacing: -1px;
  transition: 0.2s;
}
* img {
  max-width: 100%;
  height: auto;
  opacity: 0.95;
}
* a {
  text-decoration: none;
  color: #000;
}
* h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.1em;
  letter-spacing: -3px;
}
* h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.1em;
  letter-spacing: -3px;
}
* h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: -3px;
}

body {
  width: 100%;
  background-color: #E7DEDE;
}
body header {
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #E7DEDE;
  border-bottom: 75% solid black;
}
body header .logo {
  font-size: 1.35em;
}
body header nav {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-around;
}
body main {
  overflow: hidden;
}
body main .home {
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 20px;
}
body main .home .heading-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
body main .home .heading-title div {
  width: 100%;
  text-align: right;
}
body main .home .heading-title h1 {
  margin-left: 5px;
  line-height: 58px;
  position: relative;
  z-index: 5;
}
body main .home .heading-title svg {
  position: absolute;
  top: 50%;
  left: 8%;
  height: 90px;
  z-index: 2;
}
body main .home .middle {
  display: flex;
  justify-content: space-between;
}
body main .home .middle .decouvrir {
  width: 100px;
  margin: 50px 40px;
}
body main .home .middle .decouvrir g {
  transform-origin: center;
  -webkit-animation: rotate 7.5s linear infinite;
          animation: rotate 7.5s linear infinite;
}
body main .home .middle .galaxy {
  width: 130px;
  z-index: 1;
  top: 38%;
  right: 5%;
}
body main .home .sub-heading {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
body main .home .sub-heading h2 {
  margin-left: 5px;
  line-height: 58px;
  position: relative;
  z-index: 5;
  transform: translateX(90px);
}
body main .home .sub-heading .kevin {
  width: 160px !important;
  position: absolute;
}
body main .home .sub-texte-1 {
  margin-top: 40px;
  margin-left: 10px;
}
body main .home .sub-texte-2 {
  margin-top: 20px;
  margin-left: 70%;
}
body main .outils {
  margin-bottom: 70px;
}
body main .outils h2 {
  margin-left: 15px;
}
body main .outils .texte-outils {
  border-left: 1px solid rgba(0, 0, 0, 0.404);
  padding: 25px;
  margin-top: 30px;
  margin-left: 50px;
}
body main .outils .slide-skills {
  width: 100%;
}
body main .outils .slide-skills div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.404);
  padding: 20px 0;
}
body main .outils .slide-skills div p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
}
body main .outils .slide-skills div:nth-child(2) {
  border-top: none;
}
body main .outils .more-about {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: column;
}
body main .outils .more-about .titre-about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
body main .outils .more-about .titre-about svg {
  position: absolute;
  top: 35%;
  left: 8%;
  height: 100px;
  z-index: 2;
}
body main .outils .more-about .titre-about h3 {
  position: relative;
  z-index: 5;
  margin-top: 70px;
  transform: translateX(50px);
}
body main .outils .more-about .cv {
  position: relative;
  z-index: 5;
  margin-top: 70px;
  margin-left: auto;
  margin-right: 30px;
}
body main .outils .more-about .cv a {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.404);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  margin-left: auto;
}
body main .outils .more-about .cv a:hover {
  border-color: #000;
  background-color: #000;
  color: #E7DEDE;
}
body main .projets h2 {
  margin-left: 15px;
}
body main .projets .projets-uni .projets-container {
  width: 90%;
  margin: 30px auto;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow: hidden;
}
body main .projets .projets-uni .projets-container > div {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body main .projets .projets-uni .projets-container > div img {
  height: 100% !important;
}
body main .projets .projets-uni .projets-container > div .projets-texte {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #E7DEDE;
  text-align: left;
  padding: 25px;
  opacity: 0;
}
body main .projets .projets-uni .projets-container > div .projets-texte h3 {
  margin-bottom: 10px;
}
body main .projets .projets-uni .projets-container > div .projets-texte p {
  margin-bottom: 10px;
}
body main .projets .projets-uni .projets-container > div .projets-texte a {
  position: absolute;
  color: #E7DEDE;
  font-weight: 500;
  text-decoration: underline;
  bottom: 20px;
}
body main .projets .projets-uni .projets-container > div .projets-texte:hover {
  -webkit-animation: fade-in 0.5s forwards ease-out;
          animation: fade-in 0.5s forwards ease-out;
}

.fadein {
  -webkit-animation: fade-in 0.5s ease-in forwards;
          animation: fade-in 0.5s ease-in forwards;
}

.fadeout {
  animation: fade-in 0.5s ease-in forwards reverse;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes projets-apparition {
  0% {
    filter: opacity(0);
    transform: translateX(-50%) translateY(-200px);
  }
  100% {
    filter: opacity(1);
    transform: translateX(-50%) translateY(0px);
  }
}
@keyframes projets-apparition {
  0% {
    filter: opacity(0);
    transform: translateX(-50%) translateY(-200px);
  }
  100% {
    filter: opacity(1);
    transform: translateX(-50%) translateY(0px);
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */