@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

$black: #000;
$bg-color: #E7DEDE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;

    img {
        max-width: 100%;
        height: auto;
    }
    
    a {
        text-decoration: none;
        color: $black;
    }
}

body {
    width: 100%;
    background-color: $bg-color;

    header {
        width: 100%;
        text-align: center; 
        padding: 20px 0;
        position: sticky;
        z-index: 2;

        .logo {
            font-size: 1.35em;
        }

        nav {
            width: 100%;
            display: flex;
            padding: 15px;
            justify-content: space-around;
        }
    }

    main {
        padding: 20px;

        .heading-title {
            width: fit-content;
            position: relative;

            div {
                width: 100%;
                text-align: right;
            }

            h1 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 3.25em;
                letter-spacing: -3px;
                margin-left: 5px;
                line-height: 58px;
                position: relative;
                z-index: 5;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 8%;
                height: 90px;
                z-index: 2;

            }
        }

        .decouvrir {
            width: 100px;
            margin: 50px 40px;

            g {
                transform-origin: center;
                animation: rotate 7.5s linear infinite;
            }
        }

        .galaxy {
            position: absolute;
            width: 140px;
            z-index: 1;
            top: 35%;
            right: 5%;
        }

        .sub-heading {
            display: flex;
            align-items: center;
            margin-top: 20px;


            h2 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 3.25em;
                letter-spacing: -3px;
                margin-left: 5px;
                line-height: 58px;
                position: relative;
                z-index: 5;
                transform: translateX(90px);
            }

            .kevin {
                width: 140px !important;
                position: absolute;
            }
            
        }

        .sub-texte-1 {
            margin-top: 40px;
            margin-left: 10px;
        }
        .sub-texte-2 {
            margin-top: 20px;
            margin-left: 70%;
        }
    }
}



//Animations 

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}